.button {
  position: absolute;
  right: 0;
  width: auto;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #068323;
  color: white;
  background: #068323;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 64px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #0d6521;
  border-color: #0d6521;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}